[Unit]
Description=Start miniweb
Requires=minimega.service
After=minimega.service
PartOf=phenix-web.service

[Service]
Type=simple
ExecStart=/opt/minimega/bin/miniweb -console /opt/minimega/bin/minimega


[Install]
WantedBy=multi-user.target


